form{
   @media (min-width:500px) {
    font: size 300px;
    
   }
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: white;
  width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: inset 0 3em 3em rgb(0, 0, 0, 0);
    background-image: linear-gradient(#bd09b7, #6b4cf5);
    position: relative;
    top: 5px;
    right: 5px;
    left: 15px;
}
.btn1, .btn2{
    padding: 10px;
}
.btn3{
    padding: top 5px; height: 15px;
    text-align: right;
}